@import url(webfonts/stylesheet.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.site-header {
  position: relative;
  width: 100%;
  top: 0;
  z-index: 2;
}

body {
  font: normal 13px 'Noto Sans Thai UI', sans-serif;
  /* margin-top: 50px; */
  scroll-snap-type: y mandatory;
}

a:link, a:visited, a:hover, a:active {
  color: #14e6c8;
}

.slide {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  text-align: center;
  scroll-snap-align: start;
  /* scroll-snap-stop: always; */
  padding: 30px 30px;
  z-index: 1;
}
.slide p {
  font-size: 17px;
  line-height: 23px;
  width: 250px;
  margin: 10px auto;
}
.slide ul {
  font-size: 17px;
  line-height: 23px;
  width: 250px;
  margin: 10px auto;
  text-align: left;
}
.slide ul li {
  margin-top: 10px;
}
.slide p.head {
  font-family: 'The Matter', serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
  margin-top: 60px;
  margin-bottom: 1em;
}
.slide p.sub {
  /* font-family: 'The Matter', serif; */
  font-size: 17px;
}
.slide .circle {
  background-color: white;
  color: #9B9B9B;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 40px auto 0;
}
.slide img {
  width: 220px;
}
.bg-green {
  background-color: #14e6c8;
  color: black;
}
.bg-black {
  background-color: black;
  color: white;
}
.bg-clear {
  background-color: transparent;
  pointer-events: none;
  color: black;
}
.bold {
  font-weight: bold;
}
.highlight {
  color: #14e6c8;
}

#content {
  position: fixed;
  height: 600px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 0;
}
#legend, #result, #input {
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding-top: 10px;
}
#legend {
  height: 20px;
  font-size: 11px;
  text-align: center;
  color: #9B9B9B;
}
#legend .line-break {
  white-space: pre;
}
#legend .line-break:after {
  content: ' ';
}
#result {
  height: 370px;
}
#input {
  height: 100px;
}
#map, .tooltip {
  position: absolute;
}
.tooltip {
  position: absolute;
	display: inline-block;
  left: 120px;
  top: 280px;
  width: 180px;
  font-family: 'Noto Sans Thai UI', sans-serif;
  line-height: 20px;
	text-align: left;
  pointer-events: none;
  z-index: 1;
}
.tooltip.status {
  top: 230px;
}

#conclusion {
  width: 300px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
}
.sharebox {
  margin-top: auto;
  margin-bottom: 20px;
  text-align: center;
}

input[type=range] + p {
  text-align: center;
}
input[type=range]::before {
  content: "0%";
  padding: 5px;
  font-size: 8px;
}
input[type=range]::after {
  content: "100%";
  padding: 5px;
  font-size: 8px;
}
.range-number {
  width: 40px;
  height: 23px;
  margin: 0 15px;
  position: relative;
  font-size: 16px;
  text-align: center;
  color: #14e6c8;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
}

/* range slider http://danielstern.ca/range.css */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #14e6c8;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #14e6c8;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f1fefc;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #14e6c8;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #14e6c8;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000504;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #14e6c8;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #14e6c8;
  cursor: pointer;
  height: 3px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #14e6c8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #f1fefc;
}

@media only screen and (min-width: 1000px) {
  .slide {
    text-align: right;
    padding: 30px 30px;
    position: relative;
  }
  .slide p {
    width: 300px;
    position: absolute;
    margin-top: -220px;
    top: 50%;
    right: 60%;
  }
  .slide ul {
    width: 300px;
    position: absolute;
    margin-top: -220px;
    top: 50%;
    left: 50%;
  }
  .slide.no-img p {
    top: 0;
    left: 0;
    right: 0;
  }
  .slide img {
    width: 440px;
    position: absolute;
    margin-top: -220px;
    top: 50%;
    left: 40%;
  }
  .slide p.head {
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    width: 550px;
    margin-top: 20vh;
    margin-bottom: 40px;
  }
  .slide p.sub {
    font-size: 20px;
    text-align: center;
    width: 550px;
    margin-top: 20vh;
    padding-top: 180px;
  }
  .slide .circle {
    margin: 50vh auto 0;
  }
  .slide p.bold {
    top: 50%;
    margin-top: 0px;
  }
  .slide p.highlight {
    top: 50%;
    margin-top: 30px;
  }

  #content {
    height: 625px;
    top: 50%;
    margin-top: -313px;
  }
  #legend, #result, #input {
    width: 375px;
  }
  #legend {
    font-size: 13px;
    text-align: left;
    left: 200px;
    margin-top: 20px;
  }
  #legend .line-break {
    display: block;
  }
  #legend .line-break:after {
    content: none;
  }
  #result {
    height: 625px;
    left: -200px;
    margin-top: -40px;
  }
  #input {
    left: 200px;
    margin-top: -100px;
  }
  #map {
    width: 375px;
  }
  .tooltip {
    left: 400px;
  }
}
