@import url(webfonts/stylesheet.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
#content {
  height: 700px;
  margin-top: 100px;
}

body {
  font: normal 13px 'Noto Sans Thai UI', sans-serif;
  margin-top: 50px;
}

a:link, a:visited, a:hover, a:active {
  color: #14e6c8;
}

/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {
 	position: absolute;
	display: inline-block;
	text-align: left;
	line-height: 20px;
	/*width: 100%;*/
	height: 30px;
	padding: 5px 10px;
	background: white;
	border: 0px;
	border-radius: 5px;
	pointer-events: none;
}

#input, #result {
  position: relative;
  width: 320px;
  height: 600px;
	margin: 0 auto;
}
#map, .tooltip {
  position: absolute;
}
.tooltip {
  left: 120px;
  top: 400px;
  width: 200px;
  font-family: 'Noto Sans Thai UI', sans-serif;
}

/* .legend {
	position: relative;
	left: 250px;
	top: 480px;
	margin-bottom: -100px;
}

#credit {
	text-align: center;
}
.logo {
  position: relative;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}
.logo a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.boonmeelab {
  background-image: url('logo_boonmeelab.png');
  width: 150px;
} */

#conclusion {
  width: 280px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
}
.sharebox {
  margin-top: auto;
  margin-bottom: 20px;
  text-align: center;
}

input[type=range] + p {
  text-align: center;
}
input[type=range]::before {
  content: "0%";
  padding: 5px;
  font-size: 8px;
}
input[type=range]::after {
  content: "100%";
  padding: 5px;
  font-size: 8px;
}
.range-number {
  width: 40px;
  height: 23px;
  margin: 0 15px;
  position: relative;
  font-size: 16px;
  text-align: center;
  color: #14e6c8;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
}

/* range slider http://danielstern.ca/range.css */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #14e6c8;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #14e6c8;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f1fefc;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #14e6c8;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #14e6c8;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000504;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #14e6c8;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #14e6c8;
  cursor: pointer;
  height: 3px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #14e6c8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #f1fefc;
}
